#headerarea
{
	display: none;
}

.tborder
{
	border: none;
}
/*
     FILE ARCHIVED ON 14:08:44 May 24, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:18:50 Sep 01, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 11.596 (3)
  LoadShardBlock: 332.931 (3)
  RedisCDXSource: 8.893
  captures_list: 357.85
  PetaboxLoader3.resolve: 433.725 (3)
  load_resource: 371.606
  PetaboxLoader3.datanode: 250.189 (5)
  exclusion.robots: 0.187
  esindex: 0.009
  exclusion.robots.policy: 0.159
*/