#headerarea
{
	display: none;
}

.tborder
{
	border: none;
}
/*
     FILE ARCHIVED ON 12:31:49 Sep 15, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:19:36 Sep 01, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.008
  exclusion.robots: 0.131
  captures_list: 158.013
  exclusion.robots.policy: 0.122
  load_resource: 103.242
  PetaboxLoader3.resolve: 166.003 (5)
  LoadShardBlock: 135.044 (3)
  RedisCDXSource: 2.482
  CDXLines.iter: 15.5 (3)
  PetaboxLoader3.datanode: 54.358 (5)
*/